<mat-toolbar color="primary">
  <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle();">
          <mat-icon>menu</mat-icon>
      </button>
      <h6>Task Manager</h6>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav  mode="side">
      <mat-nav-list>
          <a mat-list-item routerLink="/list" style="margin-bottom: 20px; ">
           <mat-icon>list</mat-icon>
              Tasks List
          </a>
          <a mat-list-item routerLink="/add" >
            <mat-icon>add</mat-icon>
              Add Task
          </a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <div style="height: 83vh;">
          <router-outlet>
          </router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar color="primary" class="footer" style="text-align: center;">
  <mat-toolbar-row>
      <span class="footer-text" style="font-size: 12px; font-weight: normal;">
          © 2024 Task Manager. All rights reserved.
      </span>
  </mat-toolbar-row>
</mat-toolbar>
