<h2 class="det-header">Task Details</h2>


<mat-card>
    <hr />
    <mat-card-content>
      <dl class="row">
        <dt class="col-sm-3">Task Title</dt>
        <dd class="col-sm-9">{{taskModel.title}}</dd>
        <dt class="col-sm-3">Task Description</dt>
        <dd class="col-sm-9">{{taskModel.description}}</dd>
        <dt class="col-sm-3">Due Date</dt>
        <dd class="col-sm-9">{{taskModel.dueDate}}</dd>
      </dl>

      <div class="text-left mt-3">
        <a href="/list">Go Back</a>
      </div>
      
    </mat-card-content>
  </mat-card>
  