.index-header {
    font-size: 4em; 
    margin-top: 40px;
    margin-left: 10%;
    margin-bottom: 10px;
}

button{
    margin: 2px;
}

mat-card {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    
}
